@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* Body layouts */
	.page {
		@apply flex bg-cover bg-center h-screen w-[100vw] p-[2rem] flex-col lg:flex-row sm:flex-col;
	}
	.main {
		@apply bg-white/90 backdrop-brightness-200 backdrop-blur-xl flex flex-col shadow-2xl rounded-3xl h-full w-full p-[1.5rem] items-center gap-[0.5rem] self-stretch;
	}
	.main .header {
		@apply flex p-[0.5rem] items-center gap-[1.25rem] self-stretch font-rem;
	}
	.status {
		@apply min-w-[25rem] grow grid grid-cols-4 p-[0.5rem] xl:gap-[1rem] lg:gap-[0.5rem];
	}
	.categories {
		@apply w-full h-full bg-white rounded-xl shadow-xl grow grid grid-cols-3 px-[1rem] py-[1rem] xl:grid-cols-6 lg:grid-cols-3 xl:gap-[1rem] lg:gap-[0.5rem];
	}
	.statuses {
		@apply w-full bg-white rounded-xl shadow-xl grow grid grid-cols-3 p-[0.5rem] xl:grid-cols-4 lg:grid-cols-4 xl:gap-[1rem] lg:gap-[0.5rem];
	}
	.main .body {
		@apply absolute h-[80%] pb-[10rem] px-[2.5rem] rounded-3xl -z-10 w-full flex-col items-start gap-[1rem] overflow-y-scroll;
	}

	.body .product-grid {
		@apply w-full self-stretch pb-[1rem] grid 2xl:grid-cols-5 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 gap-[1rem];
	}
	.header .heading1 {
		@apply font-extrabold text-4xl grow-0 font-rem;
	}

	/* sidebar layout */
	.sidebar {
		@apply backdrop-brightness-125 backdrop-blur-2xl bg-gradient-to-b from-white/30 to-blue-500/90 z-10 rounded-r-2xl shadow-md my-[2rem] flex flex-col items-start gap-[0.5rem] justify-between self-stretch;
	}

	.sidebar .header {
		@apply heading2 flex-row bg-white/85 rounded-tr-2xl flex w-[20rem] h-[7rem] gap-[1.25rem] px-[1.75rem] items-center justify-center;
	}

	.sidebar .body {
		@apply flex flex-col h-full w-[20rem] p-[1.5rem] items-center gap-[0.5rem] overflow-y-auto;
	}

	.sidebar .action {
		@apply w-full h-[7rem];
	}
	.card {
		@apply flex flex-col shadow-md rounded-xl hover:shadow-2xl transition-all h-[20rem] grow p-[0.5rem] self-stretch items-center justify-between text-start bg-white hover:ring hover:ring-blue-500 font-rem;
	}
	.list-tile {
		@apply flex flex-row shadow-md rounded-xl hover:shadow-xl transition-all min-h-[5rem] max-h-[5rem] px-[2rem] self-stretch items-center justify-between text-start bg-white font-rem;
	}

	.info-user{
		@apply p-[1rem] rounded-xl self-stretch items-center justify-between text-start bg-white font-rem;
	}
	/* Font Styles */
	.heading1 {
		@apply text-[2.5rem] font-extrabold font-rem;
	}

	.heading2 {
		@apply text-[1.5rem] font-bold font-rem;
	}

	.heading3 {
		@apply text-[1rem] font-bold font-rem;
	}

	/* TODO: design components */
	.sidebar-button {
		@apply bg-white/50 backdrop-blur-xl shadow-xl rounded-l-xl flex flex-col w-[4.5rem] h-[4.5rem] p-[0.5rem] justify-center items-center text-center gap-[1.25rem] font-rem hover:ml-[-2rem] hover:w-[6.5rem] hover:bg-yellow-500 transition-all hover:ring-4 hover:ring-white hover:shadow-2xl;
	}

	.selected-sidebar-button {
		@apply backdrop-blur-xl rounded-l-xl flex flex-col  h-[4.5rem] p-[0.5rem] justify-center items-center text-center gap-[1.25rem] font-rem ml-[-2rem] w-[6.5rem] bg-yellow-500 transition-all ring-4 ring-white shadow-2xl;
	}

	.searchbar {
		@apply min-w-[15rem] grow items-center p-[1rem] rounded-xl;
	}

	.input-field {
		@apply flex-col font-rem;
	}

	.action-button {
		@apply w-full h-full items-center justify-center bg-green-500/100 outline outline-white outline-[0.3rem] shadow-lg rounded-xl font-bold text-white font-rem;
		box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1), 8px 8px 15px 0px rgba(255, 255, 255, 0.5) inset, -8px -8px 15px 0px rgba(0, 0, 0, 0.25) inset;
		transition: cubic-bezier(0.075, 0.82, 0.165, 1);
		transition-duration: 800ms;
	}

	.action-button:active {
		box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0), 8px 8px 15px 0px rgba(255, 255, 255, 0) inset, -8px -8px 15px 0px rgba(0, 0, 0, 0) inset;
	}

	.category-button {
		@apply w-full h-[3rem] items-center justify-center content-center text-center grow outline outline-white outline-[0.3rem] bg-blue-300/10 focus:bg-yellow-400 focus:shadow-xl focus:font-extrabold transition-all rounded-xl font-rem;
		box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.05), 8px 8px 15px 0px rgba(255, 255, 255, 0.5) inset, -8px -8px 15px 0px rgba(0, 0, 0, 0.1) inset;
	}
}
